Well <%=first%> you gave me <%=total%> and I turned it into:<br><br>

<div onmouseover="frank(this)" onmouseout="greg(this)">
<%change.each do|coin,value|%>
<%=value%> <%=coin%>,
<%end%>
<br>
<%=bill%>
</div>

<script>
var images = ["/image/003.jpg",
 			  "/image/004.jpg", 
 			  "/image/005.jpg",
 			  "/image/yes.jpg",
 			  "/image/silo.jpg"];
var randomImage = Math.floor(Math.random() * images.length) 
function imagefunction(){
    document.body.style.background= 'url(' + images[randomImage] +')'
}

function backgroundfunction(){
    document.body.style.background = "url(/image/ring.jpg)";
}

function frank(a){
	a.style.color = "blue"
}

function greg(a){
	a.style.color = "green"
}

</script>

<body onload="imagefunction()">

<form method= "post" action= "again">
	<input type="hidden" name="first" value = "<%=first%>">
	<input type="hidden" name="last" value = "<%=last%>">

do it again?<input type= "submit" value= "redo">
</form>
<button type = "button" onclick = "backgroundfunction()">Try me!</button>
</body>