Well <%=first%> you gave me <%=total%> and I turned it into: <%=change%>





<form method= "post" action= "again">
	<input type="hidden" name="first" value = "<%=first%>">
	<input type="hidden" name="last" value = "<%=last%>">

do it again?<input type= "submit" value= "redo">
</form>